<template name="grid">
    <div class="row">
        <div class="swiper-container">
            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            {{#each item in items}}
                <div class="swiper-slide" style="width: 277.5px;margin-right: 30px;">
                    <ul>
                        <li>
                            <div class="newslist-content">
                                <div class="newslist-cover">
                                    <a href="/activity/{{item._id}}" title=""><img src="{{item.logo}}" alt=""></a>
                                    <p class="newslist-channel"><a href="/activity/{{item._id}}" title="">{{ item.pr }}</a></p>
                                    <span class="newslist-label">{{item.imgtag}}</span>
                                </div>
                                <div class="newslist-body">
                                    <div class="newslist-date">{{ formatDate_MD item.btime.date }} 至 {{ formatDate_MD item.etime.date }}</div>
                                    <div class="newslist-title newslist-trend-title"><a href="/activity/{{item._id}}" title="">{{ item.ti }}</a></div>
                                </div>
                                <div class="newslist-footer">
                                    <div class="newslist-tags">
                                        {{#each tg in item.tags}}
                                            <a href="/?tag={{tg}}">#{{tg}} </a>
                                        {{/each}}
                                    </div>
                                    <div class="newslist-bookmark">
                                        <a class="J-share" href="http://fenxianglujing.com">
                                            <img src="/img/icon-share.png" alt="" />
                                            <img src="/img/icon-share-red.png" alt="" />
                                        </a>
                                        <a href="" class="fav" itemid="{{item._id}}">
                                            <img src="/img/icon-heard.png" alt="" />
                                            <img src="/img/icon-heard-red.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            {{/each}}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</template>