<template name="list">
    <div class="l-container">
        <div class="newslist newslist-image">
            <div class="newslist-image-caption">
                <h2><a href="" class="newslist-images-current">推荐活动</a></h2>
                <h2><a href="">最新活动</a></h2>
                <div class="newslist-image-filter J-newslist-filter">
                    <a href="">筛选 <i><img src="/img/icon-filter.png" alt="" /></i></a>
                </div>
            </div>
            <div class="newslist-caption-conent">
                <div class="newslist-filter">
                    <div class="formTable-tags-recommend">
                        <span>今天</span>
                        <a href="#" class="tags-close">
                            <img src="/img/close.jpg" alt="" />
                        </a>
                    </div>
                    <div class="formTable-tags-recommend">
                        <span>免费活动</span>
                        <a href="#" class="tags-close">
                            <img src="/img/close.jpg" alt="" />
                        </a>
                    </div>
                    <div class="formTable-tags-recommend">
                        <span>周末好去处</span>
                        <a href="#" class="tags-close">
                            <img src="/img/close.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <ul>
                    {{#each item in recommond_list }}
                        <li>
                            {{> list_item item=item }}
                        </li>
                    {{/each}}
                </ul>
                <ul>
                    {{#each item in news_list }}
                        <li>
                            {{> list_item item=item }}
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="listpage">
                <div class="pagination">
                    <div class="pagination-page">
                        <!--
                        <div class="page-wrap">
                            <a href="#" class="page-next icon-disable">
                                <span class="page-icon-next"></span> 第一页
                            </a>
                        </div>
                        -->
                        <div class="page-wrap">
                            <a href="#" class="page-next icon-disable">
                                <span class="page-icon-next"></span> 上一页
                            </a>
                        </div>
                        <div class="page-wrap page-wrap-hover">
                            <div class="page-bg"></div>
                            <a class="page">1</a>
                        </div>
                        <div class="page-wrap">
                            <div class="page-bg"></div>
                            <a class="page">2</a>
                        </div>
                        <div class="page-wrap">
                            <div class="page-bg"></div>
                            <a class="page">3</a>
                        </div>
                        <div class="page-wrap">
                            <div class="page-bg"></div>
                            <a class="page">4</a>
                        </div>
                        <div class="page-wrap">
                            <div class="page-bg"></div>
                            <a class="page">5</a>
                        </div>
                        <div class="page-wrap">
                            <a href="#" class="page-next icon-disable">
                                <span class="page-icon-next"></span> 下一页
                            </a>
                        </div>
                        <!--
                        <div class="page-wrap">
                            <a href="#" class="page-next icon-disable">
                                <span class="page-icon-next"></span> 最后页
                            </a>
                        </div>
                        -->
                    </div>
                    <div class="pagination-count">
                        <span>共</span>
                        <span>100</span>
                        <span>页</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>