<template name="list">
    <div class="l-container">
        <div class="newslist newslist-image">
            <div class="newslist-image-caption">
                <h2><a href="" class="newslist-images-current">推荐活动</a></h2>
                <h2><a href="">最新活动</a></h2>
                <div class="newslist-image-filter J-newslist-filter">
                    <a href="">筛选 <i><img src="/img/icon-filter.png" alt="" /></i></a>
                </div>
            </div>
            <div class="newslist-caption-conent">
                <div class="newslist-filter">
                    <div class="formTable-tags-recommend">
                        <span>今天</span>
                        <a href="#" class="tags-close time_close">
                            <img src="/img/close.jpg" alt="" />
                        </a>
                    </div>
                    <div class="formTable-tags-recommend">
                        <span>免费活动</span>
                        <a href="#" class="tags-close free_close">
                            <img src="/img/close.jpg" alt="" />
                        </a>
                    </div>
                    <div class="formTable-tags-recommend">
                        <span>周末好去处</span>
                        <a href="#" class="tags-close tag_close">
                            <img src="/img/close.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <ul>
                    {{#each item in items }}
                        <li>
                            {{> list_item item=item }}
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="release-button">
                <a href="javascript:;" id="more" class="release-button-yes"><img src="/img/icon-yes.png" alt="加载更多" />加载更多</a>
            </div>
        </div>
    </div>
</template>