<template name="simple">
    <div class="active-box">
        <section class="active-blk imagepost">
            <h1>周末好去处</h1>
            <!--
            <div class="newslist newslist-row">
                <ul>
                    <li>
                    <li>
                        <div class="newslist-content">
                            <div class="newslist-cover">
                                <a href="" title=""><img src="img/img1.jpg" alt=""></a>
                                <p class="newslist-channel"><a href="" title="">$5，12岁以下儿童免费</a></p>
                                <span class="newslist-label">热门</span>
                            </div>
                            <div class="newslist-body">
                                <time class="newslist-date">11月20日 至 11月20日</time>
                                <div class="newslist-title"><a href="view.html" title="">Prima Academy盛大开张——音乐、绘画、舞蹈</a></div>
                            </div>
                            <div class="newslist-footer">
                                <div class="newslist-tags">
                                    <a href="">#周末好去处 </a>
                                    <a href="">#公益讲座</a>
                                </div>
                                <div class="newslist-bookmark">
                                    <a href=""><img src="img/icon-share.png" alt=""></a>
                                    <a href=""><img src="img/icon-heard.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            -->
            <ul class="imagepost-list">
                {{#each item in items}}
                <li>
                    <div class="imagepost-cover"><a href="{{item._id}}"><img src="{{item.img}}" alt=""></a></div>
                    <div class="imagepost-cont">
                        <p class="imagepost-summary">
                            <a href="{{item._id}}">{{item.ti}}</a>
                        </p>
                        <div class="imagepost-highlight">
                            <em>$4200</em>
                            <i>/月</i>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </section>
    </div>
    <div class="layer-mobile J-filter-shadow"></div>
</template>