<template name="simple">
    <div class="active-box">
        <section class="active-blk imagepost">
            <h2>周末好去处</h2>
            <ul class="imagepost-list">
                {{#each item in items}}
                <li>
                    <div class="imagepost-cover"><a href="{{item._id}}"><img src="{{item.img}}" alt=""></a></div>
                    <div class="imagepost-cont">
                        <p class="imagepost-summary">
                            <a href="{{item._id}}">{{item.ti}}</a>
                        </p>
                    </div>
                </li>
                {{/each}}
            </ul>
        </section>
    </div>
    <div class="layer-mobile J-filter-shadow"></div>
</template>