<template name="newsletter">
    <div class="active-box emailinput">
        <section class="active-blk active-newsletter-box">
            <h2>NEWSLETTER</h2>
            <p class="active-summary">填写E-mail，YorKBBS将定期向您推送最新的活动信息。</p>
            <div class="active-email">
                <input type="text" value="" placeholder="请输入E-mail" id="newsletter-email" />
                <input type="button" value="提交" id="submitnewsletter" />
            </div>
        </section>
    </div>
    <div class="active-box emailsuccess" style="display:none;">
        <section class="active-blk active-newsletter-box">
            <p class="active-summary">感谢您订阅活动预告信息，YorkBBS将定期向您推送活动预告信息。</p>
        </section>
    </div>
</template>