<template name="search_top">
    <div id="subnav">
        <div class="row subnav">
            <div class="subnav-search">
                <div class="subnav-search-text">
                    <form>
                        <label class="J-page-search">
                            <em class="serch-type">活动</em>
                            <i><img src="img/arrow-gray.png" alt="" /></i>
                            <ul class="subnav-down">
                                <li data-val="play" style="display: none;">活动</li>
                                <li data-val="sitepage">全站</li>
                            </ul>
                        </label>
                        <input type="hidden" name="search-area" value="" id="search-area">
                        <input type="text" class="subnav-search-input" value="" placeholder="请搜索活动" />
                    </form>
                </div>
                <a href="" class="subnav-submit">
                    <img src="img/icon-search.png" alt="" />
                </a>
            </div>
            <div class="subnav-put">
                <ul>
                    <li class="subnav-put-line"><a href="">
                        <i>
                            <img src="img/icon-newsrelease.png" alt="" />
                            <img src="img/icon-newsrelease-on.png" alt="" />
                        </i>
                        <em>最新发布</em></a></li>
                    <li class="subnav-put-line"><a href="">
                        <i>
                            <img src="img/icon-footprint.png" alt="" />
                            <img src="img/icon-footprint-on.png" alt="" />
                        </i>
                        <em>我的足迹</em></a></li>
                    <li class="subnav-put-highlight" onmouseover="this.className = 'subnav-put-highlight subnav-put-highlight-current';" onmouseout="this.className = 'subnav-put-highlight';">
                        <div style="height: 50px;"><a class="subnav-put-free" href="/release"><i><img src="img/icon-release.png" alt="" /></i><em>免费发布活动</em></a></div>
                        <div class="subnav-put-cate" style="display: none">
                            <i></i>
                            <span></span>
                            <a href="">发布活动</a>
                            <a href="">发布活动</a>
                            <a href="">发布活动</a>
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>