<template name="comment">
    <div class="article-comment">
        <input id="refid" type="hidden" value="{{comments.itemid}}">
        <p>您有任何问题，在这里提问！</p>
        <div class="article-comment-textarea">
            <textarea placeholder="想对主办方说..." id="ct" name="ct"></textarea>
            <input type="button" id="sub" value="提问" />
        </div>
        <h2>全部评论</h2>
        <ul class="article-comment-list">
            {{#each comment in comments.comments}}
                <li>
                    <div class="article-comment-cover"><a href=""><img src="/img/icon-avtar.jpg" alt="" /></a></div>
                    <div class="article-comment-content">
                        <h3><a href="">怡情楼</a><span>{{formatDate_YMDHS comment.meta.dt}}</span></h3>
                        <p>{{comment.ct}}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</template>