<template name="comment">
    <div class="article-comment">
        <p>您有任何问题，在这里提问！</p>
        <div class="article-comment-textarea">
            <textarea placeholder="想对主办方说..."></textarea>
            <input type="button" value="提问" />
        </div>
        <h2>全部评论</h2>
        <div class="article-comment-no">
            <i><img src="/img/icon-comment-no.png" alt="" /></i>
            <em>还没有人提问，赶快抢个沙发！</em>
        </div>
        <ul class="article-comment-list">
            <li>
                <div class="article-comment-cover"><a href=""><img src="/img/icon-avtar.jpg" alt="" /></a></div>
                <div class="article-comment-content">
                    <h3><a href="">怡情楼</a><span>3分钟前</span></h3>
                    <p>这个优惠套餐内容不错，值得使用这个优惠套餐内容不错，值得使用这个优惠套餐内容不错，值得使用这个优惠套餐内容不错，值得使用这个优惠套餐内容不错，值得使用这个优惠套餐内容不错，值得使用</p>
                </div>
            </li>
            <li>
                <div class="article-comment-cover"><a href=""><img src="/img/icon-avtar.jpg" alt="" /></a></div>
                <div class="article-comment-content">
                    <h3><a href="">怡情楼</a><span>3分钟前</span></h3>
                    <p>这个优惠套餐内容不错，值得使用这个优惠套餐内容不错</p>
                </div>
            </li>
            <li>
                <div class="article-comment-cover"><a href=""><img src="/img/icon-avtar.jpg" alt="" /></a></div>
                <div class="article-comment-content">
                    <h3><a href="">怡情楼</a><span>3分钟前</span></h3>
                    <p>这个优惠套餐内容不错，值得使用这个优惠套餐内容不错，值得使用这个优惠套餐内容不错，值得使用这个优惠套餐内容不错</p>
                </div>
            </li>
        </ul>
    </div>
</template>