<template name="share">
    <div class="article-social">
        <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox_lztf"></div>
        <div class="views-share-go">
            <i><img src="/img/icon-map-heart.png" alt=""></i>
            <em>想去（20）</em>
        </div>
        <div class="views-share-error J-error-submit">
            <i><img src="/img/icon-error.png" alt=""></i>
            <em>错误报告</em>
        </div>
    </div>

</template>