<template name="share">
    <div class="article-social">
        <div class="views-share-facebook">
            <i><img src="/img/icon-facebook.png" alt=""></i>
            <em>Facebook</em>
        </div>
        <div class="views-share-twitter">
            <i><img src="/img/icon-twitter.png" alt=""></i>
            <em>Twitter</em>
        </div>
        <div class="views-share-wechat">
            <i><img src="/img/icon-wechat.png" alt=""></i>
            <em>微信好友</em>
        </div>
        <div class="views-share-go">
            <i><img src="/img/icon-map-heart.png" alt=""></i>
            <em>想去（20）</em>
        </div>
        <div class="views-share-error J-error-submit">
            <i><img src="/img/icon-error.png" alt=""></i>
            <em>错误报告</em>
        </div>
    </div>
</template>