<template name="user">
    <div class="views-share">
        <div class="views-share-go good">
            <div class="none" id="addshow"> +1</div>
            <div class="zantext" id="join" >
                <i><img src="/img/icon-map-heart.png" alt="" /></i>
                <input type="hidden" id="refid" value="{{item._id}}">
                <input type="hidden" id="ti" value="{{item.ti}}">
                <em>想去（{{display_joinnum item.joinnum}}）</em>
            </div>
        </div>
        <div class="views-share-avatar">
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
        </div>
    </div>
</template>