<template name="user">
    <div class="views-share">
        <div class="views-share-go good">
            <div class="none" id="addshow"> +1</div>
            <div class="zantext" onclick="document.getElementById('addshow').className = 'zanone';">
                <i><img src="/img/icon-map-heart.png" alt="" /></i>
                <em>想去（20）</em>
            </div>
        </div>
        <div class="views-share-avatar">
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
            <a href=""><img src="/img/icon-avtar.jpg" alt="" /></a>
        </div>
    </div>
</template>