<template name="m_o">
    <div class="row">
        <div class="topbar-mobile">
            <div class="topbar-mobile-menu"><a href="javascript:void(0)" class="topbar-mobile-menu-back"><img src="assets/img/icon-menu.png" alt="" /></a> </div>
            <div class="topbar-mobile-title">
                <h1>活动</h1>
            </div>
            <div class="topbar-mobile-meta">
                <a href="javascript:void(0)"><img src="assets/img/icon-search.png" alt="" /></a>
                <a href="javascript:void(0)"><img src="assets/img/icon-home.png" alt="" /></a>
            </div>
        </div>
    </div>
</template>