<template name="topbar_mobile">
    <div class="layer" style="display: none;">
        <div class="layer-large layer-content">
            <h1>登录
                <a class="layer-close" href=""><img src="assets/img/icon-close-l.png" alt="" /></a>
            </h1>
            <ul>
                <li><span class="layer-cate">用户名</span><em><input type="text" class="layer-input-large" value="" /></em></li>
                <li><span class="layer-cate">密码</span><em><input type="text" class="layer-input-large" value="" /></em></li>
                <li><span class="layer-cate">&nbsp;</span>
                    <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>保持登录状态</label></em>
                </li>
                <li class="layer-button layer-button-left">
                    <span class="layer-cate">&nbsp;</span>
                    <input type="button" class="layer-yes"  value="确定" />
                </li>
            </ul>
        </div>
    </div>
</template>
