<template name="topbar_mobile">
    <div class="row topbar-mobile-box">
        <div class="topbar-mobile">
            <div class="topbar-mobile-menu"><a href="javascript:void(0)" class="topbar-mobile-menu-back"><img src="/img/icon-menu.png" alt="" /></a> </div>
            <div class="topbar-mobile-title">
                <h1>活动</h1>
            </div>
            <div class="topbar-mobile-meta">
                <a class="J-min-screen-search" href="javascript:void(0)"><img src="/img/icon-search.png" alt="" /></a>
                <a href="javascript:void(0)"><img src="/img/icon-home.png" alt="" /></a>
            </div>
        </div>
        <div class="form-search-M" style="display: none;">
            <div class="form-input-group">
                <input class="form-filter-search-input" name="keyword" value="" placeholder="搜索客户名称、联系电话 " type="text">
                <input class="form-filter-search-button" type="button" value="搜索" />
            </div>
        </div>
        <ul class="topbar-mobile-list">
            <li><a href="http://www.yorkbbs.ca/" target="_blank">首页</a></li>
            <li><a href="http://news.yorkbbs.ca/" target="_blank">新闻</a></li>
            <li><a href="http://forum.yorkbbs.ca/" target="_blank">论坛</a></li>
            <li><a href="http://info.yorkbbs.ca/eat/index.aspx" target="_blank">美食</a></li>
            <li><a href="http://info.yorkbbs.ca/" target="_blank">黄页</a></li>
        </ul>
    </div>
</template>
