<template name="topbar">
    <div id="top">
        <div class="row top-row">
            <ul class="top-meta">
                <li title="加拿大最具影响力的中文网络媒体!" id="web-top-des">加拿大最具影响力的中文网络媒体!</li>
            </ul>
            <ul class="top-nav">
                {{#if checkuser}}
                    <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                        class="nav-name"  id="user-info-show">
                        <div class="top-nav-grid"><a target="_blank" href="http://home.yorkbbs.ca/Space.aspx"><em
                                class="red">{{user.uname}}</em> <i class="topspeak1 dong"></i></a></div>
                        <dl class="nav-cont nav-my">
                            <dt></dt>
                            <dd><a target="_blank" href="http://home.yorkbbs.ca/Topiclist.aspx">我的帖子</a></dd>
                            <dd><a target="_blank" href="http://home.yorkbbs.ca/MyFav.aspx">我的收藏</a></dd>
                            <dd><a target="_blank" href="http://home.yorkbbs.ca/Info.aspx">个人资料</a></dd>
                            <dd><a target="_blank" href="http://home.yorkbbs.ca/MyAttention.aspx">我的关注</a></dd>
                            <dd><a target="_blank" href="http://home.yorkbbs.ca/setup.aspx">设置中心</a></dd>
                            <dd><a target="_blank" id="loginout" href="javascript:;">退出</a></dd>
                        </dl>
                    </li>
                    <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                        class="nav-name" style="" id="user-pm-show">
                        <div class="top-nav-grid"><a href="javascript:;"><em> <img alt="消息" src="/img/topmess.gif"
                                                                                   id="icon_pm"> 消息</em> <i
                                class="topspeak1 dong"></i> </a>
                        </div>
                        <dl class="nav-cont nav-my">
                            <dt></dt>
                            <dd><a target="_blank" href="http://home.yorkbbs.ca/pm.aspx?isunread=1"> 新私信 </a></dd>
                            <dd><a target="_blank" href="http://home.yorkbbs.ca/mynotices.aspx">新通知 </a></dd>
                        </dl>
                    </li>
                {{else}}
                    <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                        class="top-down" id="user-login-show">
                        <div class="top-login fl drop-down">
                            <a id="blogin_btn" class="login_over" href="">登录</a>
                            <form onsubmit="return false;">
                                <ul class="t_list1 drop-downcont">
                                    <li>
                                        <span>
                                            <input type="text" id="uname" class="top-login-text text_user" value=""
                                                   placeholder="用户名/邮箱">
                                        </span>
                                    </li>
                                    <li>
                                        <span><input type="password" id="pwd"
                                                     class="top-login-text text_paddword"></span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="forver" class="topbutton" value="" name="forver"> 自动登录
                                        </span>
                                        <span>
                                            <a class="gray" target="_blank" href="">密码找回</a>
                                        </span>
                                    </li>
                                    <li><input type="button" id="usrlogin" class="top-login-button f14" value="登 录">
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </li>
                    <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                        class="top-down" id="user-register-show">
                        <div class="top-nav-grid">
                            <a title="还没有账号，现在就注册！" target="_blank"
                               href="http://forum.yorkbbs.ca/register.aspx"><em>注册</em></a>
                        </div>
                    </li>
                {{/if}}
                <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                    class="nav-name">
                    <div class="top-nav-grid">
                        <a title="点击进入约克银行" target="_blank" href="http://bank.yorkbbs.ca/"><em></em><i
                                class="topspeak2 dong1"></i></a>
                    </div>
                </li>
                <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                    class="nav-name">
                    <div class="top-nav-grid">
                        <a title="手机约克论坛" target="_blank" href="http://news.yorkbbs.ca/topics/1423024.html"><em></em><i
                                class="topspeak3 dong1"></i></a>
                    </div>
                </li>
                <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                    class="nav-name">
                    <div class="top-nav-grid">
                        <em></em><i title="约克论坛新浪微博" class="topspeak4 dong1"></i>
                    </div>
                    <div class="nav-cont top-down5 weiimg">
                        <p>
                            <span><i>官方微博</i> <br>@约克论坛<br>随时了解我们的最新动态</span>
                            <img alt="约克论坛微信" src="/img/yorkbbs-weibo.jpg">
                        </p>
                    </div>
                </li>
                <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                    class="nav-name">
                    <div class="top-nav-grid top-down5">
                        <em></em><i title="约克论坛微信" class="topspeak5 dong1"></i>
                    </div>
                    <div class="nav-cont top-down5 weiimg">
                        <p>
                            <span><i>YorkBBS 微信号</i> <br>yorkbbs2002<br>扫一扫，有惊喜</span>
                            <img alt="约克论坛微信" src="/img/er.jpg">
                        </p>
                    </div>
                </li>
                <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                    class="nav-name">
                    <div class="top-nav-grid">
                        <a target="_self" title="點擊以繁體中文方式浏覽" id="StranLink" href="javascript:StranBody();"><em>繁体</em></a>
                    </div>
                </li>
                <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                    class="nav-name">
                    <div class="top-nav-grid">
                        <a title="点击查看全站导航" target="_blank" href="http://corp.yorkbbs.ca/maps.html"> <em>导航</em></a>
                    </div>
                </li>
                <li onmouseout="this.className = 'nav-name';" onmouseover="this.className = 'nav-name menu-hover';"
                    class="nav-name">
                    <div class="top-nav-grid">
                        <a title="点击查看广告服务" target="_blank" href="http://corp.yorkbbs.ca/ads.html"> <em>广告服务</em></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>