<template name="search_left">
    <div class="active-box J-filter-list">
        <section class="active-blk active-time">
            <h2>活动时间</h2>
            <div class="active-tags active-tags-3">
                <ul data-type="times" class="search_time">
                    <li><a href="javascript:void(0)" time="today" class="search_left_time"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>今天</em></a></li>
                    <li><a href="javascript:void(0)" time="tomorrow" class="search_left_time"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>明天</em></a></li>
                    <li><a href="javascript:void(0)" time="week" class="search_left_time"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>本周</em></a></li>
                    <li><a href="javascript:void(0)" time="weekend" class="search_left_time"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>本周末</em></a></li>
                    <li><a href="javascript:void(0)" time="nextweekend" class="search_left_time"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>下周末</em></a></li>
                    <li><a href="javascript:void(0)" time="month" class="search_left_time"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>本月</em></a></li>
                </ul>
            </div>
        </section>
        <section class="active-blk active-money">
            <h2>活动费用</h2>
            <div class="active-tags active-tags-2">
                <ul data-type="money" class="search_isfree">
                    <li><a href="javascript:void(0)" class="search_left_isfree" free="1"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>免费活动</em></a></li>
                    <li><a href="javascript:void(0)" class="search_left_isfree" free="0"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>付费活动</em></a></li>
                </ul>
            </div>
        </section>
        <section class="active-blk active-cate">
            <h2>活动类型</h2>
            <div class="active-tags active-tags-2">
                <ul data-type="types" class="search_tag">
                    {{#each tag in tags}}
                        <li><a href="javascript:void(0)" class="search_left_tag" tag="{{tag.tg}}"><i><img src="/img/icon-arrow-bottom.png" alt=""></i><em>{{tag.tg}}</em></a></li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </div>
</template>