<template name="search_left">
    <div class="active-box J-filter-list">
        <section class="active-blk active-time">
            <h1>活动时间</h1>
            <div class="active-tags active-tags-3">
                <ul>
                    <li><a href="" class="active-tags-on"><i><img src="img/icon-arrow-bottom.png" alt=""></i>今天</a></li>
                    <li><a href="" class="active-tags-over">明天</a></li>
                    <li><a href="" class="active-tags-over">本周</a></li>
                    <li><a href="" class="active-tags-over">本周末</a></li>
                    <li><a href="" class="active-tags-over">下周末</a></li>
                    <li><a href="" class="active-tags-over">本月</a></li>
                </ul>
            </div>
        </section>
        <section class="active-blk active-money">
            <h1>活动费用</h1>
            <div class="active-tags active-tags-2">
                <ul>
                    <li><a href="" class="active-tags-on"><i><img src="img/icon-arrow-bottom.png" alt=""></i>免费活动</a></li>
                    <li><a href="" class="active-tags-over">付费活动</a></li>
                </ul>
            </div>
        </section>
        <section class="active-blk active-cate">
            <h1>活动类型</h1>
            <div class="active-tags active-tags-2">
                <ul>
                    <li><a href="" class="active-tags-on"><i><img src="img/icon-arrow-bottom.png" alt=""></i>周末好去处(20)</a></li>
                    <li><a href="" class="active-tags-over">亲子活动(20)</a></li>
                    <li><a href="" class="active-tags-over">公益活动(20)</a></li>
                    <li><a href="" class="active-tags-over">演出活动(20)</a></li>
                    <li><a href="" class="active-tags-over">社区活动(20)</a></li>
                    <li><a href="" class="active-tags-over">节日活动(20)</a></li>
                    <li><a href="" class="active-tags-over">其他活动(20)</a></li>

                </ul>
            </div>
        </section>
    </div>
</template>