<template name="nav">
    <div id="nav">
        <div class="row nav">
            <ul class="nav-list">
                <li><a href="http://www.yorkbbs.ca/" target="_blank">首页</a></li>
                <li><a href="http://news.yorkbbs.ca/" target="_blank">新闻</a></li>
                <li><a href="http://house.yorkbbs.ca/" target="_blank">房产</a></li>
                <li><a href="http://auto.yorkbbs.ca/" target="_blank">汽车</a></li>
                <li><a href="http://info.yorkbbs.ca/" target="_blank">黄页</a></li>
                <li><a href="http://info.yorkbbs.ca/eat/" target="_blank">美食</a></li>
                <li><a href="http://info.yorkbbs.ca/GroupBuy/" target="_blank">团购</a></li>
                <li><a href="http://event.yorkbbs.ca/" target="_blank" class="nav-list-current">活动</a></li>
                <li><a href="http://info.yorkbbs.ca/free/deal" target="_blank">优惠</a></li>
                <li><a href="http://mall.yorkbbs.ca/" target="_blank">商城</a></li>
                <li><a href="http://forsale.yorkbbs.ca/" target="_blank">二手</a></li>
                <li><a href="http://info.yorkbbs.ca/free/date" target="_blank">交友</a></li>
                <li><a href="http://forum.yorkbbs.ca/working/" target="_blank">招聘</a></li>
                <li><a href="http://info.yorkbbs.ca/" target="_blank">免费广告</a></li>
                <li><a href="http://forum.yorkbbs.ca/" target="_blank">论坛</a></li>
            </ul>
        </div>
    </div>
</template>