<template name="nav">
    <div id="nav">
        <div class="row nav">
            <ul class="nav-list">
                <li><a href="">首页</a></li>
                <li><a href="">新闻</a></li>
                <li><a href="">资讯</a></li>
                <li><a href="">房产</a></li>
                <li><a href="">汽车</a></li>
                <li><a href="">黄页</a></li>
                <li><a href="">美食</a></li>
                <li><a href="">团购</a></li>
                <li><a href="" class="nav-list-current">活动</a></li>
                <li><a href="">优惠</a></li>
                <li><a href="">商城</a></li>
                <li><a href="">二手</a></li>
                <li><a href="">交友</a></li>
                <li><a href="">招聘</a></li>
                <li><a href="">免费广告</a></li>
                <li><a href="">论坛</a></li>
            </ul>
        </div>
    </div>
</template>