<template name="logo">
    <section class="row topbar">
        <header class="topbar-caption">
            <h1>
                <a href="">
                    <img src="img/yorkbbs.png" alt="" />
                    <p>约克论坛：加拿大第一中文网！</p>
                </a>
            </h1>
            <div class="topbar-code">
                <dl>
                    <dt><img src="img/code-01.jpg" alt="" /></dt>
                    <dd>手机用户专享<a href="">免费下载APP <img src="img/select-arrow.png" alt="" /></a></dd>
                </dl>
            </div>
            <div class="topbar-rectangle"><a href=""><img src="img/img-16.jpg" alt="" /></a></div>
            <div class="h_weather" id="topbar-otherweb" style="">
                        <span>
                            <a class="cityName">Toronto</a>
                            <a href="">
                                <img id="weathericon" src="http://www.yorkbbs.ca/gasdata/weathericons/03.gif" alt="" ></a>
                            <a class="currentTemp" id="weather_deg">8°C</a>
                        </span>
                <div class="">
                    <ul class="topbar-trend">
                        <li><a href="" target="_blank">今日油价</a><br><strong id="today_lower_fuel_price_web">107.20</strong></li>
                        <li><font color="#454545">加元/人民币</font><br><strong id="yorkbbs_rate">0.00</strong></li>
                    </ul>
                </div>
                <div class="topbar-search">
                    <form>
                        <input value="" placeholder="全站搜索" class="topbar-search-input" type="text"><input value="搜索" class="topbar-search-submit" type="submit">
                    </form>
                </div>
            </div>
        </header>
    </section>
</template>