<template name="footer">
    <footer id="footer">
        <section class="row footer">
            <div class="footer-version">
                <h1><a href="http://www.yorkbbs.ca/" target="_blank"><img src="/img/yorkbbs-footer.png" alt="约克论坛" /></a></h1>
                <ul>
                    <li>
                        <a href="http://corp.yorkbbs.ca/index.html" target="_blank">About YorkBBS</a>
                        <span>|</span>
                        <a href="http://corp.yorkbbs.ca/aboutus.html" target="_blank">关于我们</a>
                        <span>|</span>
                        <a href="http://corp.yorkbbs.ca/ads.html" target="_blank">广告服务</a>
                        <span>|</span>
                        <a href="http://corp.yorkbbs.ca/policy.html" target="_blank">免责声明</a>
                        <span>|</span>
                        <a href="http://corp.yorkbbs.ca/maps.html" target="_blank">网站导航</a>
                    </li>
                    <li class="footer-copyright">Copyright &copy; 2002-2016Yorkbbs.ca 约克论坛版权所有</li>
                </ul>
            </div>
            <div class="footer-contact">
                <dl>
                    <dt>联系我们</dt>
                    <dd>媒体合作：<a href="">marketing@yorkbbs.ca</a></dd>
                    <dd>广告热线：416-628-9108</dd>
                    <dd>广告邮件：<a href="mailto:info@yorkbbs.ca">info@yorkbbs.ca</a></dd>
                    <dd>网站管理：<a href="mailto:admin@yorkbbs.ca">admin@yorkbbs.ca</a></dd>
                </dl>
            </div>
            <dl>
                <dt></dt>
                <dd>
                    <div class="footer-code">
                        <img src="/img/code-wechat.jpg" alt="" />
                        <p>打开微信  扫一扫</p>
                    </div>
                    <div class="footer-code">
                        <img src="/img/code-app.jpg" alt="" />
                        <p>约克论坛客户端</p>
                    </div>
                    <div class="footer-appdown">
                        <a href="https://itunes.apple.com/cn/app/yue-ke-lun-tan/id528477563?mt=8"><img src="/img/iphone.png" alt="" /></a>
                        <a href="https://play.google.com/store/apps/details?id=com.york.yorkbbs"><img src="/img/android.png" alt="" /></a>
                    </div>
                </dd>
            </dl>
        </section>
    </footer>
    <div class="footer-mobile">
        Copyright © 2002-2017 Yorkbbs.ca All Rights Reserved.
    </div>
    <!--
    <script type="text/html" id="map-info-tmp">
        <div class="map-info-content">
            <div style="float: left; width: 100px; margin-right: 10px;">
                <img style="max-width: 100%" src="{{img}}" alt="">
            </div>
            <div style="overflow: hidden;">{{content}}</div>
        </div>
    </script>
    <script>
        var markList = [
            {
                position: {lat: 30, lng: 40},
                playingImg: 'assets/img/article-img.jpg',
                playingName: '国贸360处举行大型宝贝亲子活动，宝宝向前冲'
            },
            {
                position: {lat: 31, lng: 41},
                playingImg: 'assets/img/article-img.jpg',
                playingName: '第二个信息'
            },
            {
                position: {lat: 32, lng: 42},
                playingImg: 'assets/img/article-img.jpg',
                playingName: '第三个信息'
            },
        ];
        function initialize() {
            var uluru = {lat: 31, lng: 41};
            var map = new google.maps.Map(document.getElementById('google-map'), {
                zoom: 4,
                center: uluru
            });
            for (var i = 0, l = markList.length; i < l; i++) {
                var markData = markList[i];

                (function(data, MAP) {
                    var infowindow = new google.maps.InfoWindow({
                        content: document.getElementById('map-info-tmp').innerHTML.replace('{{img}}', data.playingImg).replace('{{content}}', data.playingName)
                    });
                    var marker = new google.maps.Marker({
                        position: data.position,
                        map: MAP
                    });
                    marker.addListener('click', function() {
                        infowindow.open(MAP, marker);
                    });
                })(markData, map);
            }
            /*var marker = new google.maps.Marker({
             position: uluru,
             map: map
             });   */
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0uzSeEzo4VtiYz9nIxFsRN2AWLa6s-vA&callback=initialize"></script>
    -->
</template>