<template name="admin">
    <section id="topbar">
        <header class="topbar-caption">
            <h1>YorkBBS管理后台</h1>
            <div class="topbar-box">
                <div class="topbar-content">
                    <div class="topbar-list">
                        <ul>
                            <li class="topbar-list-current">
                                <a href="">活动优惠</a>
                            </li>
                        </ul>
                    </div>
                    <div class="topbar-meta">
                        <ul>
                            <li>
                                <a href="">你好，{{manager.uname}}</a>
                            </li>
                            <li>
                                <a href="javascript:;" id="logout"><i><img alt="" src="/admin/img/icon-quit.png"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <aside id="nav">
        <div class="nav-list">
            <div class="nav-list-lit">
                <p class="nav-title current">
                        <span class="nav-icon nav-icon-gai">
                            <i></i>
                            <a href="/admin/activity">信息管理</a>
                            <em></em>
                        </span>
                </p>

            </div>
            <div class="nav-list-lit">
                <p class="nav-title">
                        <span class="nav-icon nav-icon-yun">
                            <i></i>
                            <a href="/admin/comment">评论管理</a>
                            <em></em>
                        </span>
                </p>

            </div>
            <div class="nav-list-lit">
                <p class="nav-title">
                        <span class="nav-icon nav-icon-contact">
                            <i></i>
                            <a href="/admin/feedback">举报管理</a>
                            <em></em>
                        </span>
                </p>
            </div>
            <div class="nav-list-lit">
                <p class="nav-title">
                        <span class="nav-icon nav-icon-date">
                            <i></i>
                            日志管理
                            <em></em>
                        </span>
                </p>
                <div style="display:none" class="nav-sublist">
                    <a href="/admin/frontlog">前台日志</a>
                    <a href="/admin/backendlog">后台日志</a>
                </div>
            </div>
            <div class="nav-list-lit">
                <p class="nav-title">
                        <span class="nav-icon nav-icon-set">
                            <i></i>
                            系统设置
                            <em></em>
                        </span>
                </p>
                <div style="display:none" class="nav-sublist">
                    <a href="/admin/sys">权限管理</a>
                    <a href="/admin/tag">标签管理</a>
                </div>
            </div>
            <div class="nav-list-lit">
                <p class="nav-title">
                        <span class="nav-icon nav-icon-table">
                            <i></i>
                            <a href="http://sendgrid.com" >Newsletter</a>
                            <em></em>
                        </span>
                </p>
            </div>
            <!--<div class="nav-list-lit">
                <p class="nav-title">
                        <span class="nav-icon nav-icon-table">
                            <i></i>
                            Newsletter
                            <em></em>
                        </span>
                </p>
                <div style="display:none" class="nav-sublist">
                    <a href="/admin/newsletter">E-mail管理</a>
                    <a href="http://sendgrid.com" target="_blank">信息池</a>
                </div>
            </div>-->
        </div>
    </aside>
    <section class="l-wrap">
        <div class="l-wrap-main">
            {{> Template.dynamic template=main}}
        </div>
    </section>

    <script type=text/javascript src="/admin/js/nav.js"></script>
    <script type=text/javascript src="/admin/js/drop.js"></script>
</template>
