<template name="error">
    <div class="layer J-error-layer"  style="display: none;">
        <div class="layer-large layer-content">
            <h1>错误报告
                <a class="layer-close" href="#"><img src="assets/img/icon-close-l.png" alt="" /></a>
            </h1>
            <ul class="layer-em">
                <li>
                    <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>信息过期</label></em>
                    <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>信息错误</label></em>
                    <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>价格欺骗</label></em>
                    <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>广告</label></em>
                    <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>其它</label></em>
                </li>
                <li>
                    <em><textarea class="layer-report-textarea" placeholder="请填写错误说明"></textarea></em>
                </li>
                <li class="layer-button layer-button-left">
                    <span class="layer-cate">&nbsp;</span>
                    <input type="button" class="layer-yes"  value="保存" />
                </li>
            </ul>
        </div>
    </div>
</template>