<template name="admin_manager_right_layer">
    <div class="layer-large layer-content change-authority-pop">
        <h1>配置权限
            <a class="layer-close" href=""><img src="assets/img/icon-close-l.png" alt="" /></a>
        </h1>
        <ul class="layer-em">
            <li>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>全部</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>信息管理</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>评论管理</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>举报管理</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>前台日志</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>后台日志</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>点击量数据</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>搜索词数据</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>权限配置</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>标签管理</label></em>
                <em class="contacts-detail-radio"><input type="checkbox" value="" /><label>系统配置</label></em>

            </li>
            <li class="layer-button layer-button-left">
                <span class="layer-cate">&nbsp;</span>
                <input type="button" class="layer-yes"  value="保存" />
            </li>
        </ul>
    </div>
</template>