<template name="admin_manager_layer">
    <div class="layer-large layer-content add-authority-pop" style="display: none;">
        <h1>添加管理员
            <a class="layer-close" href=""><img src="/img/icon-close-l.png" alt="" /></a>
        </h1>
        <ul>
            <li><span class="layer-cate">用户名</span><em><input type="text" class="layer-input-large" value="" id="uname" name="uname"/></em></li>
            <li><span class="layer-cate">密码</span><em><input type="text" class="layer-input-large" value="" id="pwd" name="pwd"/></em></li>
            <li class="layer-button layer-button-left">
                <span class="layer-cate">&nbsp;</span>
                <input type="button" class="layer-yes"  value="确定" />
            </li>
        </ul>
    </div>
</template>