<template name="admin_newsletter_sort">
    <div class="layer J-sort-pop" style="display: none;">
        <div class="layer-large layer-content">
            <h1>信息排序
                <a class="layer-close" href=""><img src="assets/img/icon-close-l.png" alt="" /></a>
            </h1>
            <ul>
                <li><span class="layer-cate">排序编号</span><em><input type="text" class="layer-input-large" value="" /></em></li>
                <li class="layer-button layer-button-left">
                    <span class="layer-cate">&nbsp;</span>
                    <input type="button" class="layer-yes"  value="确定" />
                </li>
            </ul>
        </div>
    </div>
</template>