<template name="info">
    <div class="layer J-share-layer" style="display: none;">
        <div class="layer-large layer-content">
            <h1>分享
                <a class="layer-close" href=""><img src="assets/img/icon-close-l.png" alt="" /></a>
            </h1>
            <div class="layer-box">
                <div class="layer-box-share">
                    <a href=""><img src="assets/img/facebook.png" alt="" /></a>
                    <a href=""><img src="assets/img/facebook.png" alt="" /></a>
                    <a href=""><img src="assets/img/facebook.png" alt="" /></a>
                    <a href=""><img src="assets/img/facebook.png" alt="" /></a>
                    <a href=""><img src="assets/img/facebook.png" alt="" /></a>
                </div>
                <input class="layer-box-web" type="text" value="" />
            </div>
        </div>
    </div>
</template>
