<template name="share_layer">
    <div class="layer J-share-layer" style="display: none;">
        <div class="layer-large layer-content">
            <h1>分享
                <a class="layer-close" href=""><img src="/img/icon-close-l.png" alt="" /></a>
            </h1>
            <div class="layer-box">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            </div>
        </div>
    </div>
</template>
