<template name="admin_tag_add">
    <div class="layer J-label-pop" style="display: none;">
        <div class="layer-large layer-content">
            <h1>添加标签
                <input type="hidden" id="tagid" value="{{item._id}}"/>
                <a class="layer-close" href=""><img src="/admin/img/icon-close-l.png" alt="" /></a>
            </h1>
            <ul>
                <li><span class="layer-cate">类别名称</span><em><input type="text" class="layer-input-large" value="{{item.tg}}" name="tagname" id="tagname"/></em></li>
                <li><span class="layer-cate">是否显示</span>
                    <em class="contacts-detail-radio"><input type="radio" value="true" name="isshow" id="isshow" {{display_show item.isshow}}/><label>是</label></em>
                    <em class="contacts-detail-radio"><input type="radio" value="false" name="isshow" id="isshow" {{display_hidden item.isshow}}/><label>否</label></em>
                </li>
                <li class="layer-button layer-button-left">
                    <span class="layer-cate">&nbsp;</span>
                    <input type="button" class="layer-yes"  value="确定" />
                </li>
            </ul>
        </div>
    </div>
</template>