<template name="weixin">
    <div class="layer" style="display: none;">
        <div class="layer-large layer-content">
            <h1>微信分享
                <a class="layer-close" href=""><img src="assets/img/icon-close-l.png" alt="" /></a>
            </h1>
            <div class="layer-box">
                <div class="layer-box-share">
                    <img src="assets/img/code-wechat.jpg" alt="" /><br />
                    扫一扫 分享到朋友圈
                </div>
            </div>
        </div>
    </div>
</template>