<template name="home">
    <link rel="stylesheet" href="/css/active.css">
    <link rel="stylesheet" href="/js/datetimepicker/css/bootstrap-datetimepicker.min.css">

    {{> login_layer }}
    {{> share_layer }}
    {{> header }}
    <div id="mainbody">
        {{> Template.dynamic template=main}}
    </div>

    {{> footer }}

    <script src="/js/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/play-main.js"></script>
</template>